.mantine-ebrmep {
  border-right: none;
}

.mantine-FileInput-rightSection {
  width: 130px;
  .mantine-UnstyledButton-root {
    width: 110px;
    border: none;
    color: #5c5f66;
    &::after {
      content: 'Отчистить';
    }
  }
}

.mantine-Select-dropdown {
  background: #25262b;
  border-radius: 12px;
  border-color: #2c2e33;
  display: block;
  div {
    color: #c1c2c5;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background: #25262b;
    border-radius: 12px;
  }
}

.mantine-Select-item {
  background: #25262b;
  border-radius: 12px;
  border-color: #2c2e33;
}

.mantine-Select-item {
  &:hover {
    color: #25262b;
  }
}
