.text {
  color: #909296;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 536px;
}

.title {
  color: #c1c2c5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box {
  width: 147px;
  height: 105px;
  border-radius: 21px;
  background: #da77f2;
}
